/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors.dtsi>

#include "da-behaviors.dtsi"

#define HYPER LA(LC(LS(LGUI))) 
#define MEH   LA(LC(LSHFT)) 

/ {

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | NONE|  '  |  ,  |  .  |  P  |  Y  |      |  F  |  G  |  C  |  R  |  L  | NONE|
// | NONE|  A  |  O  |  S  |  U  |  I  |      |  D  |  H  |  T  |  N  |  S  | NONE|
// | NONE|  ;  |  Q  |  J  |  K  |  X  |      |  B  |  M  |  W  |  V  |  Z  | NONE|
//                   | ESC | SPC | TAB |      |  /  | RET | BKSP|
                        bindings = <
   &none &kp APOS     &kp COMMA    &kp DOT      &kp P        &kp Y            &kp F       &kp G        &kp C        &kp R         &kp L        &none
   &none &hml LMETA A &hml LALT O  &hml LSHFT E &hml LCTRL U &kp I            &kp D       &hmr LCTRL H &hmr LSHFT T &hmr LALT N   &hmr LMETA S &none
   &none &kp SEMI     &hml RALT Q  &kp J        &kp K        &kp X            &kp B       &kp M        &kp W        &hmr RALT V   &kp Z        &none
                                   &lt 2 ESC    &lt 1 SPACE  &kp TAB          &lt 5 FSLH  &lt 3 RET    &lt 4 BSPC
                        >;
                };
                        #include "right-layers.dtsi"
                        #include "left-layers.dtsi"
        };
};
